.main {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .left {
    background-image: url(../../assets/intror.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 50%;
    min-height: 716px;
    height: 716px;
    // .banner {
    //   position: absolute;
    //   z-index: 1000000;
    //   //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 40%;
    .label {
      font-weight: 300;
      line-height: 1.2;
      font-size: 1.25rem;
    }
    .header {
      font-size: 4.0625rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    .desc {
      font-weight: 400;
      font-size: 1.3rem;
    }
    .name-input {
      border: none;
      outline: none;
      width: 300px;
      border-radius: 8px;
      border: 1px solid #4c9ce252;
      height: 45px;
      padding: 8px;
      font-size: 1rem;
    }
    .get-started-btn {
      position: relative;
      font-size: 1rem;
      width: fit-content;
      border-radius: 8px;
      padding: 10px 30px;
      background-color: #3f8d8d;
      color: white;
      border: none;
      transition: 0.5s;
      overflow: hidden;
      -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
      mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
      -webkit-mask-size: 2300% 100%;
      cursor: pointer;
      transition: background-color 0.5s;
      font-weight: 600;
      //   -webkit-animation: ani2 0.7s steps(22) forwards;
      //   animation: ani2 0.7s steps(22) forwards;
      &:hover {
        -webkit-animation: ani2 0.5s steps(22) forwards;
        animation: ani2 0.5s steps(22) forwards;
      }
    }
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
