.main {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  .left {
    background-image: url(../../assets/intror.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 45%;
    min-height: 716px;
    height: 716px;
    // .banner {
    //   position: absolute;
    //   z-index: 1000000;
    //   //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 40%;
    .label {
      font-weight: 300;
      line-height: 1.2;
      font-size: 1.25rem;
    }
    .header {
      font-size: 4.0625rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    .desc {
      font-weight: 400;
      font-size: 1.3rem;
    }
    .name-input {
      border: none;
      outline: none;
      width: 300px;
      border-radius: 8px;
      border: 1px solid #4c9ce252;
      height: 45px;
      padding: 8px;
      font-size: 1rem;
    }
    .error-msg {
      position: absolute;
      left: 0;
      bottom: -40%;
      font-size: 11px;
      color: rgba(255, 0, 0, 0.794);
      white-space: nowrap;
    }
    .bordered-btn {
      position: relative;
      font-size: 1rem;
      width: fit-content;
      border-radius: 8px;
      padding: 10px 30px;
      background-color: white;
      color: #3f8d8d;
      border: none;
      //   transition: all 0.5s;
      overflow: hidden;
      cursor: pointer;
      font-weight: 600;
      border: 1px solid #3f8d8d !important;
    }
    // .get-started-btn {
    //   position: relative;
    //   font-size: 1rem;
    //   width: fit-content;
    //   border-radius: 8px;
    //   padding: 10px 30px;
    //   background-color: #3f8d8d;
    //   color: white;
    //   border: none;
    //   transition: all 0.5s;
    //   overflow: hidden;
    //   cursor: pointer;
    //   font-weight: 600;
    // }
  }
}

.get-started-btn {
  color: white;
  font-size: 14px;
  border-radius: 0.5em;
  width: fit-content;
  text-transform: capitalize;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  padding: 10px 30px;
  position: relative;
  background-color: #3f8d8d;
  text-align: center;
}
.get-started-btn span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: white;
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.get-started-btn:hover {
  color: #3f8d8d;
  border: 1px solid #3f8d8d;
}
.get-started-btn:hover span {
  transform: translateY(0) scale(2);
}
.get-started-btn span:nth-child(1) {
  --n: 1;
}
.get-started-btn span:nth-child(2) {
  --n: 2;
}
.get-started-btn span:nth-child(3) {
  --n: 3;
}
.get-started-btn span:nth-child(4) {
  --n: 4;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    font-size: 2.2rem !important;
  }
}

@media screen and (max-width: 900px) {
  .main {
    margin: 100px auto;
    flex-direction: column !important;
    .left {
      //   width: 100% !important;
      height: 400px !important;
      min-height: 400px !important;
    }
  }
  .right {
    width: 60% !important;
  }
}

@media screen and (max-width: 700px) {
  .main {
    .left {
      width: 334px !important;
    }
  }
}

@media screen and (max-width: 537px) {
  .main {
    .right {
      width: 100% !important;
      .label {
        font-size: 1rem;
      }
      .desc {
        font-size: 1rem;
      }
      .name-input {
        font-size: 0.7rem;
      }
    }
  }
}

@media screen and (max-width: 404px) {
  .name-input {
    width: 100% !important;
  }
  .right {
    padding-bottom: 50px !important;
  }
}

@media screen and (max-width: 370px) {
  .main {
    padding: 0 20px !important;
    .left {
      width: 300px !important;
    }
  }
}
